// backgrounds color
$mainBgColor :#FFF5F6;
$secondBgColor: #FFB8CA;
$thirdBgColor: #F0D1A5;
$fourthBgColor: #C2E297;
$fifthBgColor: #E17992;

$mainTextColor: #D41443;
$secondTextColor: #FFA5BA;
$thirdTexColor: #FFFFFF;
$fourthTextColor: #000000;
$fifthTextColor: #907E82;

$hoverLiteButton: #ECEBEB;