<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advant">
      <li class="advant__item">
        <div class="advant__box">
          <svg class="advant__icon" width="33" height="50">
            <use href="./images/icons/icons.svg#icon-milk"></use>
          </svg>
        </div>
        <p class="advant__namber">721</p>
        <p class="advant__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advant__item">
        <div class="advant__box">
          <svg class="advant__icon" width="50" height="50">
            <use href="./images/icons/icons.svg#icon-cocktail"></use>
          </svg>
        </div>
        <p class="advant__namber">16kg</p>
        <p class="advant__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advant__item">
        <div class="advant__box">
          <svg class="advant__icon" width="44" height="50">
            <use href="./images/icons/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <p class="advant__namber">84</p>
        <p class="advant__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
