<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advant">
      <li class="advant__item">
        <p class="advant__namber">721</p>
        <p class="advant__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advant__item">
        <p class="advant__namber">16kg</p>
        <p class="advant__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advant__item">
        <p class="advant__namber">84</p>
        <p class="advant__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
