<section class="contacts" id="contacts">
  <div class="container container__contacts">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__card">
          <span class="contacts__card-name">Cafe</span>
          <h3 class="contacts__card-town">Chicago</h3>
          <p class="contacts__card-title">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="contacts__list-meta">
            <li class="contacts__item-meta">
              <p class="contacts__meta-day">Monday - Friday</p>
              <p class="contacts__meta-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__item-meta">
              <p class="contacts__meta-day">Saturday - Sunday</p>
              <p class="contacts__meta-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a href="tel:+610383766284" class="contacts__card-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__card-link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__card">
          <span class="contacts__card-name contacts__card-name--green"
            >Foodtruck</span
          >
          <h3 class="contacts__card-town">Los Angeles</h3>
          <p class="contacts__card-title">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="contacts__list-meta">
            <li class="contacts__item-meta">
              <p class="contacts__meta-day">Monday - Friday</p>
              <p class="contacts__meta-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__item-meta">
              <p class="contacts__meta-day">Saturday - Sunday</p>
              <p class="contacts__meta-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a href="tel:+610383766284" class="contacts__card-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__card-link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__card">
          <span class="contacts__card-name">Cafe</span>
          <h3 class="contacts__card-town">New York</h3>
          <p class="contacts__card-title">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="contacts__list-meta">
            <li class="contacts__item-meta">
              <p class="contacts__meta-day">Monday - Friday</p>
              <p class="contacts__meta-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__item-meta">
              <p class="contacts__meta-day">Saturday - Sunday</p>
              <p class="contacts__meta-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <a href="tel:+610383766284" class="contacts__card-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__card-link"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="button-box">
      <button class="ftr__button open-map" data-map-modal-open>
        Our Locations
        <svg class="ftr-button__icon" width="5" height="8">
          <use href="./images/icons/icons.svg#icon-arrow-2"></use>
        </svg>
      </button>
      <button
        class="ftr__button ftr__button--white open-popup"
        data-franchise-modal-open
      >
        Franchise
        <svg class="ftr-button__icon" width="5" height="8">
          <use href="./images/icons/icons.svg#icon-arrow-2"></use>
        </svg>
      </button>
    </div>
    <!-- map -->
    <div class="map__bg is-hidden" data-map-modal>
      <div class="map">
        <button class="fieldset__close-btn" data-map-modal-close>
          <svg class="ieldset__close-icon" width="14" height="14">
            <use href="./images/icons/icons.svg#icon-close"></use>
          </svg>
        </button>
        <iframe
          class="g-map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.45575685544!2d30.524014715217582!3d50.4512372794755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce51b8c36bc1%3A0xf4f9a288a528d2ce!2z0LLRg9C70LjRhtGPINCl0YDQtdGJ0LDRgtC40LosIDcsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1658071077943!5m2!1suk!2sua"
          width="1000"
          height="1000"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>

    <!-- franchise -->
    <div class="popup__bg is-hidden" data-franchise-modal>
      <form class="popup">
        <button class="fieldset__close-btn" data-franchise-modal-close>
          <svg class="fieldset__close-icon" width="14" height="14">
            <use href="./images/icons/icons.svg#icon-close"></use>
          </svg>
        </button>
        <label>
          <input class="popup__text" type="text" name="name" />
          <span class="label__text">Name</span>
        </label>
        <label>
          <input class="popup__text" type="tel" name="tel" />
          <span class="label__text">Phone</span>
        </label>
        <label>
          <textarea class="popup__text" name="message"></textarea>
          <span class="label__text">Mesage</span>
        </label>
        <button class="ftr__button ftr__button--submit" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</section>
