<section class="contacts">

    <div class="container container__contacts">
        <h2 class="visually-hidden">
            Our contacts
        </h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <div class="contacts__card">
                    <span class="contacts__card--name">Cafe</span>
                    <h3 class="contacts__card--town">
                        Chicago
                    </h3>
                    <p class="contacts__card--title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__list--meta">
                        <li class="contacts__item--meta">
                            <p  class="contacts__meta--day">Monday - Friday</p>
                            <p class="contacts__meta--time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__item--meta">
                            <p class="contacts__meta--day">Saturday - Sunday</p>
                            <p class="contacts__meta--time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <a href="tel: +610383766284" class="contacts__card--link">+61(0) 383 766 284</a>
                    <a href="mailto: noreply@envato.com" class="contacts__card--link">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts__card">
                    <span class="contacts__card--name green-bg">Foodtruck</span>
                    <h3 class="contacts__card--town">
                        Los Angeles
                    </h3>
                    <p class="contacts__card--title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__list--meta">
                        <li class="contacts__item--meta">
                            <p class="contacts__meta--day">Monday - Friday</p>
                            <p class="contacts__meta--time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__item--meta">
                            <p class="contacts__meta--day">Saturday - Sunday</p>
                            <p class="contacts__meta--time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <a href="tel: +610383766284" class="contacts__card--link">+61(0) 383 766 284</a>
                    <a href="mailto: noreply@envato.com" class="contacts__card--link">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts__card">
                    <span class="contacts__card--name">Cafe</span>
                    <h3 class="contacts__card--town">
                        New York
                    </h3>
                    <p class="contacts__card--title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__list--meta">
                        <li class="contacts__item--meta">
                            <p class="contacts__meta--day">Monday - Friday</p>
                            <p class="contacts__meta--time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__item--meta">
                            <p class="contacts__meta--day">Saturday - Sunday</p>
                            <p class="contacts__meta--time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <a href="tel: +610383766284" class="contacts__card--link">+61(0) 383 766 284</a>
                    <a href="mailto: noreply@envato.com" class="contacts__card--link">noreply@envato.com</a>
                </div>
            </li>
        </ul>
    </div>
</section>