<footer>
  <div class="container footer">
    <div class="button-box">
      <button class="ftr__button open-map">
        Our Locations
        <svg class="ftr-button__icon" width="5" height="8">
          <use href="./images/icons/icons.svg#icon-arrow-2"></use>
        </svg>
      </button>
      <button class="ftr__button open-popup">
        Franchise
        <svg class="ftr-button__icon" width="5" height="8">
          <use href="./images/icons/icons.svg#icon-arrow-2"></use>
        </svg>
      </button>
    </div>
    <div class="ftr-box">
      <div class="ftr__title">
        <p class="ftr__title--second">homemade ice cream made</p>
        <p class="ftr__title--first">with passion</p>
      </div>
      <div class="ftr__contact">
        <ul class="ftr__social--list">
          <li class="ftr__social__icon">
            <a class="ftr__link" href="https://github.com">
              <svg class="ftr__icon">
                <use href="./images/icons/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="ftr__social__icon">
            <a class="ftr__link" href="https://web.telegram.org">
              <svg class="ftr__icon">
                <use href="./images/icons/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="ftr__social__icon">
            <a class="ftr__link" href="https://www.facebook.com">
              <svg class="ftr__icon">
                <use href="./images/icons/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="ftr__tel">
          <p class="ftr__tel--action">Feel free to contact</p>
          <a class="ftr__tel--number" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>
    <div class="ftr__copyright__holder">
      <p class="ftr__copyright__holder--title">
        &copy; 2022 - IceCream. All Rights Reserved.
      </p>
    </div>
  </div>

  <!-- map -->
  <div class="map__bg">
    <div class="map">
      <button class="close-map">
        <svg class="close-map__icon" width="10" height="10">
          <use href="./images/icons/icons.svg#icon-close"></use>
        </svg>
      </button>
      <iframe
        class="g-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.45575685544!2d30.524014715217582!3d50.4512372794755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce51b8c36bc1%3A0xf4f9a288a528d2ce!2z0LLRg9C70LjRhtGPINCl0YDQtdGJ0LDRgtC40LosIDcsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1658071077943!5m2!1suk!2sua"
        width=""
        height=""
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <!-- franchise -->
  <div class="popup__bg">
    <form class="popup">
      <button class="close-popup">
        <svg class="close-popup__icon" width="10" height="10">
          <use href="./images/icons/icons.svg#icon-close"></use>
        </svg>
      </button>
      <!-- <svg class="close-popup close-map__icon" width="10" height="10">
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg> -->
      <label>
        <input class="popup__text" type="text" name="name" />
        <div class="label__text">Name</div>
      </label>
      <label>
        <input class="popup__text" type="tel" name="tel" />
        <div class="label__text">Phone</div>
      </label>
      <label>
        <textarea class="popup__text" name="message"></textarea>
        <div class="label__text">Mesage</div>
      </label>
      <button class="ftr__button ftr__button--submit" type="submit">
        Submit
      </button>
    </form>
  </div>
</footer>
