<section class="section section--bg-white">
  <div class="container">
    <div id="gallery" class="gallery">
      <div class="gallery-sizer"></div>
      <div class="test">
        <div class="gallery-item gallery-item--height2 gallery-item--width2">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ../src/images/gallery/desk/img-1.png    1x,
                ../src/images/gallery/desk/img-1-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/gallery/tab/img-1-tab.png    1x,
                ../src/images/gallery/tab/img-1-tab-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../src/images/gallery/mob/img-1-mob.png    1x,
                ../src/images/gallery/mob/img-1-mob-2x.png 2x
              "
              type="image/png"
            />
            <img
              src="../src/images/gallery/mob/img-1-mob.png"
              alt="ice-cream-1"
            />
          </picture>
        </div>
      </div>

      <div class="gallery-item--duet">
        <div class="gallery-item gallery-item--width2 gallery-item--height2">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ../src/images/gallery/desk/img-2.png    1x,
                ../src/images/gallery/desk/img-2-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/gallery/tab/img-2-tab.png    1x,
                ../src/images/gallery/tab/img-2-tab-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../src/images/gallery/mob/img-2-mob.png    1x,
                ../src/images/gallery/mob/img-2-mob-2x.png 2x
              "
              type="image/png"
            />
            <img
              src="../src/images/gallery/mob/img-2-mob.png"
              alt="ice-cream-1"
            />
          </picture>
        </div>
        <div class="gallery-item gallery-item--height3 gallery-item--width3">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ../src/images/gallery/desk/img-4.png    1x,
                ../src/images/gallery/desk/img-4-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/gallery/tab/img-4-tab.png    1x,
                ../src/images/gallery/tab/img-4-tab-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../src/images/gallery/mob/img-4-mob.png    1x,
                ../src/images/gallery/mob/img-4-mob-2x.png 2x
              "
              type="image/png"
            />
            <img
              src="../src/images/gallery/mob/img-4-mob.png"
              alt="ice-cream-1"
            />
          </picture>
        </div>
      </div>
      <div class="gallery-item gallery-item--height2 gallery-item--width2">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/gallery/desk/img-6.png    1x,
              ../src/images/gallery/desk/img-6-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/tab/img-6-tab.png    1x,
              ../src/images/gallery/tab/img-6-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/mob/img-6-mob.png    1x,
              ../src/images/gallery/mob/img-6-mob-2x.png 2x
            "
            type="image/png"
          />
          <img
            src="../src/images/gallery/mob/img-6-mob.png"
            alt="ice-cream-1"
          />
        </picture>
      </div>
      <div class="gallery-item gallery-item--height2 gallery-item--width2">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/gallery/desk/img-8.png    1x,
              ../src/images/gallery/desk/img-8-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/tab/img-8-tab.png    1x,
              ../src/images/gallery/tab/img-8-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/mob/img-8-mob.png    1x,
              ../src/images/gallery/mob/img-8-mob-2x.png 2x
            "
            type="image/png"
          />
          <img
            src="../src/images/gallery/mob/img-8-mob.png"
            alt="ice-cream-1"
          />
        </picture>
      </div>

      <div class="gallery-item gallery-item--height2 gallery-item--width2">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/gallery/desk/img-3.png    1x,
              ../src/images/gallery/desk/img-3-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/tab/img-3-tab.png    1x,
              ../src/images/gallery/tab/img-3-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/mob/img-3-mob.png    1x,
              ../src/images/gallery/mob/img-3-mob-2x.png 2x
            "
            type="image/png"
          />
          <img
            src="../src/images/gallery/mob/img-3-mob.png"
            alt="ice-cream-1"
          />
        </picture>
      </div>

      <div class="gallery-item gallery-item--height2 gallery-item--width2">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/gallery/desk/img-5.png    1x,
              ../src/images/gallery/desk/img-5-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/tab/img-5-tab.png    1x,
              ../src/images/gallery/tab/img-5-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/mob/img-5-mob.png    1x,
              ../src/images/gallery/mob/img-5-mob-2x.png 2x
            "
            type="image/png"
          />
          <img
            src="../src/images/gallery/mob/img-5-mob.png"
            alt="ice-cream-1"
          />
        </picture>
      </div>

      <div class="gallery-item gallery-item--height2 gallery-item--width2">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/gallery/desk/img-7.png    1x,
              ../src/images/gallery/desk/img-7-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/tab/img-7-tab.png    1x,
              ../src/images/gallery/tab/img-7-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/mob/img-7-mob.png    1x,
              ../src/images/gallery/mob/img-7-mob-2x.png 2x
            "
            type="image/png"
          />
          <img
            src="../src/images/gallery/mob/img-7-mob.png"
            alt="ice-cream-1"
          />
        </picture>
      </div>

      <div class="gallery-item gallery-item--height2 gallery-item--width2">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/gallery/desk/img-9.png    1x,
              ../src/images/gallery/desk/img-9-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/tab/img-9-tab.png    1x,
              ../src/images/gallery/tab/img-9-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/mob/img-9-mob.png    1x,
              ../src/images/gallery/mob/img-9-mob-2x.png 2x
            "
            type="image/png"
          />
          <img
            src="../src/images/gallery/mob/img-9-mob.png"
            alt="ice-cream-1"
          />
        </picture>
      </div>
      <div class="gallery-item gallery-item--height2 gallery-item--width2">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="../src/images/gallery/desk/img-10.png 1x"
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/gallery/tab/img-10-tab.png    1x,
              ../src/images/gallery/tab/img-10-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../src/images/gallery/mob/img-10-mob.png    1x,
              ../src/images/gallery/mob/img-10-mob-2x.png 2x
            "
            type="image/png"
          />
          <img
            src="../src/images/gallery/mob/img-10-mob.png"
            alt="ice-cream-1"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
