<section class="section section__gallary">
  <h2 class="visually-hidden">Gallery</h2>
  <h3 class="visually-hidden">gallery adout us</h3>
  <div class="container">
    <div class="gallary__wrap">
      <picture>
        <source media="(min-width: 1200px)" srcset="
               ../src/images/gallery/desk/group.png 1x,
              ../src/images/gallery/desk/group-2x.png 2x
            " type="image/png" />
        <source media="(min-width: 768px)" srcset="
              ../src/images/gallery/tab/group-tab.png   1x,
              ../src/images/gallery/tab/group-tab-2x.png 2x
            " type="image/png" />
        <source media="(max-width: 767px)" srcset="
              ../src/images/gallery/mob/group-mob.png   1x,
              ../src/./images/gallery/mob/group-mob-2x.png 2x
            " type="image/png" />
        <img class="gallary__img" src="../src/images/gallery/desk/group.png" alt="ice-cream-1" />
      </picture>




    </div>
</section>