<header class="header">
    <div class="container">
        <nav class="header__nav">
            <div class="header__mobile">
                <a href="./index.html" class="logo">
                    <svg class="logo__icon" width="199" height="50">
                        <use href="./images/icons/icons.svg#icon-logo"></use>
                    </svg>
                </a>
                <button class="menu-button__open">
                    <svg width="20" height="12">
                        <use href="./images/icons/icons.svg#icon-burger"></use>
                    </svg>
                </button>
            </div>
            <div class="mobile-menu is-hidden">
                <button class="menu-button__close">
                    <svg width="14" height="14px">
                        <use href="./images/icons/icons.svg#icon-close"></use>
                    </svg>
                </button>
                <button class="button mobile-button-buy">Buy now
                    <svg class="button__arrow" width="4" height="8">
                        <use href="./images/icons/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
                <ul class="menu">
                    <li class="menu__item"><a href="" class="menu__link">Home</a></li>
                    <li class="menu__item"><a href="" class="menu__link">About us</a></li>
                    <li class="menu__item"><a href="" class="menu__link">How it’s made?</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Our products</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Contact</a></li>
                </ul>
            </div>
        </nav>


    </div>
</header>
<section class="hero">
    <div class="container">
        <div class="hero__wrap">
            <h1 class="hero__title">ice cream
                made with <span class="hero__title--red">passion</span>
            </h1>
            <div class="hero__circle"></div>
        </div>
        <div class="hero-buttons">
            <button class="button hero-buttons__btn">Products</button>
            <button class="button hero-buttons__btn hero-buttons__btn--accent">How it’s made?</button>
        </div>
    </div>

</section>