<div class="backdrop-header-down is-hidden" data-modal-header-down>
    <div class="round-mobal">
        <button class="fieldset__close-btn fieldset__close-btn--position" type="button" data-modal-header-down-close>
            <svg class="fieldset__close-icon" width="14" height="14">
                <use href="./images/icons/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="round-modal__title">Do you want ice cream?</h2>
        <p class="round-modal__subtitle">Call me:</p>
        <a href="tel:+610383766284" class="round-mobal__phone">+61 (0) 383 766 284</a>
    </div>
</div>