<section class="products section">
    <p class="products__lable-text">100% natural</p>
    <h2 class="products__title--main">products</h2>
    
    <ul class="products__list">
        <li class="products__item">
            <div class="products__wrap ice-cream">
                <h3 class="products__title--second">ice cream</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis </p>
                <button type="button" class="products__button">
                    <svg class="button__icon" width="13" height="13">
                        <use href="./images/icons/icons.svg#icon-arrow"></use> 
                </button>
            </div>
        </li>
        <li class="products__item">
            <div class="products__wrap ice-coffe">
                <h3 class="products__title--second">ice coffee</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis </p>
                <button type="button" class="products__button">
                    <svg class="button__icon" width="13" height="13">
                        <use href="./images/icons/icons.svg#icon-arrow"></use> 
                </button>
            </div>
        </li>
        <li class="products__item">
            <div class="products__wrap milkshakes">
                <h3 class="products__title--second">milkshakes</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis </p>
                <button type="button" class="products__button">
                    <svg class="button__icon" width="13" height="13">
                        <use href="./images/icons/icons.svg#icon-arrow"></use> 
                </button>
            </div>
        </li>
    </ul>
    
</section>