<section class="products section" id="products">
    <div class="container">
        <p class="products__lable-text">100% natural</p>
        <h2 class="products__title--main">products</h2>
        
        <ul class="products__list">
            
                <li class="products__item ice-cream">
                    
                        <h3 class="products__title--second">ice cream</h3>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                        <button type="button" class="products__button" data-products-modal-open-1>
                            <svg class="button__icon" width="13" height="13">
                                <use href="./images/icons/icons.svg#icon-arrow"></use>
                            </svg> 
                        </button>
                        <div class="products__backdrop is-hidden" data-products-modal-1>
                            <div class="modal--first">
                                  <button class="fieldset__close-btn" data-products-modal-close-1>
                                    <svg class="fieldset__close-icon" width="14" height="14">
                                      <use href="./images/icons/icons.svg#icon-close"></use>
                                    </svg>
                                  </button>
                                <div class="products__modal-form">
                                  <h3 class="products__modal-title">
                                      Details
                                  </h3>
                                  <form>
                                    <label class="products__modal-label"> If you like home-made delicacies, then this classic home-made chocolate ice cream</label>>
                                  </form>
                              </div>
                            </div>
                        </div>   
                        
                </li>
           
            
                <li class="products__item ice-coffe">
                    
                        <h3 class="products__title--second">ice coffee</h3>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                        <button type="button" class="products__button" data-products-modal-open-2>
                            <svg class="button__icon" width="13" height="13">
                                <use href="./images/icons/icons.svg#icon-arrow"></use>
                            </svg> 
                        </button>
                        <div class="products__backdrop is-hidden" data-products-modal-2>
                            <div class="modal--second">
                                <button class="fieldset__close-btn" data-products-modal-close-2>
                                <svg class="fieldset__close-icon" width="14" height="14">
                                  <use href="./images/icons/icons.svg#icon-close"></use>
                                </svg>
                              </button>
                              <div class="products__modal-form">
                                <h3 class="products__modal-title">
                                    Details
                                </h3>
                                <form>
                                  <label class="products__modal-label">Coffee that is served cold, sometimes with ice, or a glass or cup of this drink
                                  </label>
                                  
                                </form>
                              </div>
                          </div>
                        </div> 
                </li>
             
            
                <li class="products__item milkshakes">
                    
                        <h3 class="products__title--second">milkshakes</h3>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    
                        <button type="button" class="products__button" data-products-modal-open-3>
                            <svg class="button__icon" width="13" height="13">
                                <use href="./images/icons/icons.svg#icon-arrow"></use>
                            </svg> 
                        </button>
                        <div class="products__backdrop is-hidden" data-products-modal-3>
                            <div class="modal--thirth">
                                <button class="fieldset__close-btn" data-products-modal-close-3>
                                <svg class="fieldset__close-icon" width="14" height="14">
                                  <use href="./images/icons/icons.svg#icon-close"></use>
                                </svg>
                              </button>
                              <div class="products__modal-form">
                                <h3 class="products__modal-title">
                                    Details
                                </h3>
                                <form>
                                    <label class="products__modal-label">It seems like a good way to drink a milk shake without getting brain freeze.
                                    </label>
                                  
                                </form>
                              </div>
                            </div>
                        </div>   
                </li>
             
        </ul>
    </div>
    
</section>
