// Все кнопки
.button {
    min-width: 62px;
    // padding-left: 37px;
    // padding-right: 37px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    background-color: $thirdTexColor;

    border-radius: 22px;

    @include transition (background-color);

    &:hover,
    &:focus {
        background-color: $hoverLiteButton;
    }
}

.button__arrow {
    margin-left: 12px;
    fill: currentColor;
    padding: 10px 12px;
}