.gallary__wrap {
  display: block;
  margin: 0 auto;
}

// .gallary {
//   display: none;
// }
.section__gallary {
  display: none;
}

.section__gallary {
  background-image: linear-gradient(to bottom,
      $mainBgColor 25px,
      $thirdTexColor 25px,
    );


  @include tablet {
    background-image: linear-gradient(to bottom,
        $mainBgColor 170px,
        $thirdTexColor 170px,
      );

    @include desktop {
      background-image: linear-gradient(to bottom,
          $mainBgColor 150px,
          $thirdTexColor 150px,
        );
    }
  }
}

.gallary__img {
  margin: 0 auto;
}

.section__gallary {
  padding-top: 0;

  @include mobile {
    padding-bottom: 60px;
  }

  @include desktop {
    padding-bottom: 120px;
    padding-top: 60px;
  }

}