.backdrop-header-down {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2);
    @include transition (opacity);
    overflow-y: auto;
    transition: all 250ms ease 0s;

}

.backdrop-header-down .round-mobal {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);


}

.backdrop-header-down.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop-header-down.is-hidden .round-mobal {
    transform: translate(-50%, -20%) scale(0.1) rotate(180deg)
}


.round-mobal {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: $mainTextColor;
    background-image: url(../images/icons/icon-ice-cream.svg);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    padding: 60px;
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    //     0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow: visible;
    opacity: 0;
    transition: all 250ms ease 0s;
}

.fieldset__close-btn--position {
    right: 35px;
    top: 35px;
    z-index: 100;
}

.round-modal__title,
.round-modal__subtitle,
.round-mobal__phone {
    color: #fff;
    letter-spacing: .04em;
    text-transform: uppercase;
    font-family: Titan One;
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}

.round-modal__subtitle {
    margin-top: 30px;
}

.round-mobal__phone {
    margin-top: 50px;
    font-size: 25px;

    @include transition (color);

    &:hover,
    &:focus {
        color: $secondBgColor;
    }

}